niem-5.0/schema-subset/xsd/domains/jxdm.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://release.niem.gov/niem/domains/jxdm/7.0/" version="1" xml:lang="en-US" xsi:schemaLocation="http://release.niem.gov/niem/appinfo/5.0/ ../utility/appinfo.xsd http://release.niem.gov/niem/conformanceTargets/3.0/ ../utility/conformanceTargets.xsd" ct:conformanceTargets="http://reference.niem.gov/niem/specification/naming-and-design-rules/5.0/#ReferenceSchemaDocument" xmlns:aamva_d20="http://release.niem.gov/niem/codes/aamva_d20/5.0/" xmlns:ct="http://release.niem.gov/niem/conformanceTargets/3.0/" xmlns:j="http://release.niem.gov/niem/domains/jxdm/7.0/" xmlns:ncic="http://release.niem.gov/niem/codes/ncic/5.0/" xmlns:mmucc="http://release.niem.gov/niem/codes/mmucc/5.0/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:ndex="http://release.niem.gov/niem/codes/ndex/5.0/" xmlns:structures="http://release.niem.gov/niem/structures/5.0/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:appinfo="http://release.niem.gov/niem/appinfo/5.0/" xmlns:niem-xs="http://release.niem.gov/niem/proxy/niem-xs/5.0/" xmlns:nc="http://release.niem.gov/niem/niem-core/5.0/">
  <xs:annotation>
    <xs:documentation>Justice</xs:documentation>
    <xs:appinfo>
      <appinfo:LocalTerm term="AAMVA" literal="The American Association of Motor Vehicle Administrators"/>
      <appinfo:LocalTerm term="ACD" literal="AAMVA Code Dictionary"/>
      <appinfo:LocalTerm term="ADA" literal="Americans with Disabilities Act"/>
      <appinfo:LocalTerm term="AFIS" literal="Automated Fingerprint Identification System"/>
      <appinfo:LocalTerm term="Alpha" definition="Letter(s)"/>
      <appinfo:LocalTerm term="Amber" literal="America's Missing: Broadcast Emergency Response"/>
      <appinfo:LocalTerm term="ANSID20" literal="The Data Dictionary for Traffic Record Systems, maintained by AAMVA, the American Association of Motor Vehicle Administrators"/>
      <appinfo:LocalTerm term="APCO" literal="Association of Public-Safety Communications Officials (APCO) - International, Inc."/>
      <appinfo:LocalTerm term="BAC" literal="Blood Alcohol Concentration"/>
      <appinfo:LocalTerm term="BOP" literal="Bureau of Prisons"/>
      <appinfo:LocalTerm term="BPH" literal="Board of Parole Hearings"/>
      <appinfo:LocalTerm term="Brady" literal="Brady Law"/>
      <appinfo:LocalTerm term="CDL" literal="Commercial Driver's License"/>
      <appinfo:LocalTerm term="CFR" definition="Code of Federal Regulations"/>
      <appinfo:LocalTerm term="CHRI" literal="Criminal History Record Information"/>
      <appinfo:LocalTerm term="CJIS" literal="Criminal Justice Information System"/>
      <appinfo:LocalTerm term="CLP" literal="Commercial Learners Permit"/>
      <appinfo:LocalTerm term="CMV" literal="Commercial Motor Vehicle"/>
      <appinfo:LocalTerm term="CODIS" literal="Combined DNA Index System"/>
      <appinfo:LocalTerm term="COMPAS" literal="Correctional Offender Management Profiling for Alternative Sanctions"/>
      <appinfo:LocalTerm term="DEA" literal="Drug Enforcement Administration"/>
      <appinfo:LocalTerm term="DHS" literal="Department of Homeland Security"/>
      <appinfo:LocalTerm term="DMH" literal="Department of Mental Health"/>
      <appinfo:LocalTerm term="DNA" literal="Deoxyribonucleic acid"/>
      <appinfo:LocalTerm term="DOT" literal="Department of Transportation"/>
      <appinfo:LocalTerm term="EMS" literal="Emergency Medical Service"/>
      <appinfo:LocalTerm term="Enhanceable" definition="An enhanceable offense means that specific factors can increase the severity level of the offense."/>
      <appinfo:LocalTerm term="FBI" literal="Federal Bureau of Investigation"/>
      <appinfo:LocalTerm term="FCN" literal="file control number"/>
      <appinfo:LocalTerm term="FFL" literal="federal firearms license"/>
      <appinfo:LocalTerm term="FIPS" literal="Federal Information Processing Standards"/>
      <appinfo:LocalTerm term="GDEP" literal="Geographic-Drug Enforcement Program"/>
      <appinfo:LocalTerm term="GVWR" literal="gross vehicle weight rating"/>
      <appinfo:LocalTerm term="HazMat" literal="Hazardous Materials"/>
      <appinfo:LocalTerm term="HME" literal="Hazardous Material Endorsement"/>
      <appinfo:LocalTerm term="HRSO" literal="high risk sex offender"/>
      <appinfo:LocalTerm term="IAFIS" literal="Integrated Automated Fingerprint Identification System"/>
      <appinfo:LocalTerm term="IBIS" literal="Integrated Ballistic Identification System"/>
      <appinfo:LocalTerm term="ICC" literal="Interstate Commerce Commission"/>
      <appinfo:LocalTerm term="ISBN" literal="International Standard Book Number"/>
      <appinfo:LocalTerm term="JABS" literal="JABS" definition="Joint Automated Booking System"/>
      <appinfo:LocalTerm term="Keyhea" definition="Under the Keyhea injunction, 'involuntary medication' cannot be administered to a state prisoner for more than three days unless the professional staff of the facility in which the prisoner is incarcerated has analyzed the prisoner's condition and found that the prisoner is, as a result of a mental disorder, 'gravely disabled and incompetent to refuse medication or a danger to others, or a danger to self,' and the prisoner has been 'advised of the need for, but has not been willing to accept medication on a voluntary basis.'"/>
      <appinfo:LocalTerm term="LEOKA" literal="Law Enforcement Officer Killed or Assaulted"/>
      <appinfo:LocalTerm term="LIS" literal="License Plate State"/>
      <appinfo:LocalTerm term="Livescan" definition="An inkless, electronic means of capturing fingerprints in a digitized format and then transmitting them to a state repository and/or the FBI"/>
      <appinfo:LocalTerm term="LSTA" definition="State/Country Index"/>
      <appinfo:LocalTerm term="MACR" literal="Monthly Arrest and Citation Register"/>
      <appinfo:LocalTerm term="MCMIS" literal="Motor Carrier Management Information System"/>
      <appinfo:LocalTerm term="MCO" literal="Manufacturer's certificate of origin"/>
      <appinfo:LocalTerm term="MCSIP" literal="Motor Carrier Safety Improvement Process"/>
      <appinfo:LocalTerm term="MDO" literal="mentally disordered offender"/>
      <appinfo:LocalTerm term="MHSDS" literal="Mental Health Services Delivery System"/>
      <appinfo:LocalTerm term="MMUCC" literal="Model Minimum Uniform Crash Criteria"/>
      <appinfo:LocalTerm term="MO" literal="Modus Operandi"/>
      <appinfo:LocalTerm term="ModusOperandi" literal="Mode of operating"/>
      <appinfo:LocalTerm term="Multi" literal="Multiple"/>
      <appinfo:LocalTerm term="NCIC" literal="National Crime Information Center"/>
      <appinfo:LocalTerm term="NCMEC" literal="National Center for Missing &amp; Exploited Children"/>
      <appinfo:LocalTerm term="NDEx" literal="National Data Exchange"/>
      <appinfo:LocalTerm term="NDEX" literal="National Data Exchange"/>
      <appinfo:LocalTerm term="NIBRS" literal="National Incident Based Reporting System"/>
      <appinfo:LocalTerm term="NICB" literal="National Insurance Crime Bureau"/>
      <appinfo:LocalTerm term="NICS" literal="National Instant Criminal Background Check System"/>
      <appinfo:LocalTerm term="NLETS" literal="National Law Enforcement Telecommunication Systems"/>
      <appinfo:LocalTerm term="OCA" literal="Originating Case Agency"/>
      <appinfo:LocalTerm term="ORI" definition="A nine-character identifier assigned by the FBI Criminal Justice Information Systems (CJIS) staff to an organization, which must have met the established qualifying criteria for ORI assignment to identify the agency in transactions on CJIS Systems."/>
      <appinfo:LocalTerm term="POST" literal="Peace Official Standards and Training"/>
      <appinfo:LocalTerm term="Postdirectional" definition="A word following a street name that indicates the directional taken by the thoroughfare from an arbitrary starting point or line, or the sector where it is located."/>
      <appinfo:LocalTerm term="Predirectional" definition="A word preceding a street name that indicates the directional taken by the thoroughfare from an arbitrary starting point or line, or the sector where it is located."/>
      <appinfo:LocalTerm term="PRISM" literal="Performance and Registration Information Systems Management"/>
      <appinfo:LocalTerm term="REALID" definition="Public Law 109–13, 119 Statute 302, enacted May 11, 2005, was an Act of Congress that modified U.S. federal law pertaining to security, authentication, and issuance procedures standards for the state driver's licenses and identification (ID) cards, as well as various immigration issues pertaining to terrorism."/>
      <appinfo:LocalTerm term="RES" literal="Registration State"/>
      <appinfo:LocalTerm term="RH" definition="Rhesus (Rh) factor is an inherited protein found on the surface of red blood cells."/>
      <appinfo:LocalTerm term="RICO" literal="Racketeer Influenced and Corrupt Organizations"/>
      <appinfo:LocalTerm term="SAFESTAT" literal="Safety Status Measurement System"/>
      <appinfo:LocalTerm term="Separatee" literal="A person who must be kept separate from another person."/>
      <appinfo:LocalTerm term="SMT" literal="Scars, Marks, Tattoos, and Other Characteristics"/>
      <appinfo:LocalTerm term="SSN" literal="Social Security Number"/>
      <appinfo:LocalTerm term="TCD" literal="traffic control device"/>
      <appinfo:LocalTerm term="TCN" literal="Transaction Control Number"/>
      <appinfo:LocalTerm term="TripleI" literal="III - Interstate Identification Index system"/>
      <appinfo:LocalTerm term="TSA" definition="Transportation Security Administration"/>
      <appinfo:LocalTerm term="TYP" literal="(Firearm) Type"/>
      <appinfo:LocalTerm term="TYPA" literal="(Article) Type"/>
      <appinfo:LocalTerm term="TYPO" literal="(ORI) Type"/>
      <appinfo:LocalTerm term="UCR" literal="Uniform Crime Reporting"/>
      <appinfo:LocalTerm term="USDOT" literal="United States Department of Transportation"/>
      <appinfo:LocalTerm term="USMS" literal="United States Marshal Service"/>
      <appinfo:LocalTerm term="VICAP" literal="Violent Criminal Apprehension Program"/>
      <appinfo:LocalTerm term="VIN" literal="Vehicle Identification Number"/>
      <appinfo:LocalTerm term="VINA" literal="Vehicle Identification Number Analysis"/>
      <appinfo:LocalTerm term="WHTI" literal="Western Hemisphere Travel Initiative"/>
      <appinfo:LocalTerm term="XRay" literal="X-Ray"/>
      <appinfo:LocalTerm term="XRays" literal="X-Rays"/>
    </xs:appinfo>
  </xs:annotation>
  <xs:import namespace="http://release.niem.gov/niem/codes/aamva_d20/5.0/" schemaLocation="../codes/aamva_d20.xsd"/>
  <xs:import namespace="http://release.niem.gov/niem/codes/mmucc/5.0/" schemaLocation="../codes/mmucc.xsd"/>
  <xs:import namespace="http://release.niem.gov/niem/codes/ncic/5.0/" schemaLocation="../codes/ncic.xsd"/>
  <xs:import namespace="http://release.niem.gov/niem/codes/ndex/5.0/" schemaLocation="../codes/ndex.xsd"/>
  <xs:import namespace="http://release.niem.gov/niem/niem-core/5.0/" schemaLocation="../niem-core.xsd"/>
  <xs:import namespace="http://release.niem.gov/niem/proxy/niem-xs/5.0/" schemaLocation="../adapters/niem-xs.xsd"/>
  <xs:import namespace="http://release.niem.gov/niem/structures/5.0/" schemaLocation="../utility/structures.xsd"/>
  <xs:complexType name="BirthType">
    <xs:annotation>
      <xs:documentation>A data type for a live birth of a human being.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:ActivityType">
        <xs:sequence>
          <xs:element ref="j:BirthAttendant" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:BirthChildBirthOrderNumeric" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:BirthRegistration" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:PersonHospitalBirthIndicator" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:BirthAugmentationPoint" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ChargeDispositionType">
    <xs:annotation>
      <xs:documentation>A data type for the results or processing of a charge.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:DispositionType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ChargeEnhancingFactorType">
    <xs:annotation>
      <xs:documentation>A data type for a factor or reason that makes a charge more serious.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ChargeType">
    <xs:annotation>
      <xs:documentation>A data type for a formal allegation that a specific person has committed a specific offense.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="j:ChargeAccidentRelatedIndicator" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:ChargeApplicabilityText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:ChargeArrestReasonIndicator" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:ChargeCategoryDescriptionText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:ChargeCountQuantity" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:ChargeDegreeText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:ChargeDescriptionText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:ChargeDisposition" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:ChargeEmploymentRelatedIndicator" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:ChargeFilerEntity" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:ChargeEnhancingAllegationCharge" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:ChargeEnhancingFactor" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:ChargeEnhancingPriorConviction" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:ChargeOriginatorEntity" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:ChargeFelonyIndicator" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:ChargeFilingDate" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:ChargeHighestIndicator" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:ChargeIdentification" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:ChargeInstrument" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:ChargeLegalDescriptionText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:ChargeMACRDispositionText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:ChargeModifierEntity" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:ChargeMACRIndicationLevelText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:ChargeMACRJuvenileLevelText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:ChargeMACRStatusText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:ChargeModificationInstrument" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:ChargeNarrative" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:ChargePlea" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:ChargeQualifierText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:ChargeRecommendedBailAmount" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:ChargeReducingFactorText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:ChargeSanction" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:ChargeSentence" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:ChargeSentenceRangeText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:ChargeSequenceID" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:ChargeSeriousViolentIndicator" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:ChargeSeverityLevel" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:ChargeSeverityText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:ChargeSpecialAllegationText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:ChargeStatus" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:ChargeStatute" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:ChargeSubject" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:ChargeText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:ChargeTrackingIdentification" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:ChargeUCRCrimeCategoryText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:ChargeVerdict" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:ChargeVictim" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:ChargeSeverityDescriptionText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:ChargeCategoryAbstract" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:ChargeNCICAbstract" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:ChargeUCRAbstract" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:ChargeAugmentationPoint" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ClothingType">
    <xs:annotation>
      <xs:documentation>A data type for an article of clothing, dress, or attire.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ConvictionType">
    <xs:annotation>
      <xs:documentation>A data type for a judgment that a defendant is guilty.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:ActivityType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DriverLicenseBaseEndorsementType">
    <xs:annotation>
      <xs:documentation>A data type for an endorsement on a driver license or driver license permit which authorizes the operation of specified types of vehicles carrying specified loads.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DriverLicenseBaseType">
    <xs:annotation>
      <xs:documentation>A data type for an authorization issued to a driver granting driving privileges.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DriverLicenseEndorsementType">
    <xs:annotation>
      <xs:documentation>A data type for an endorsement on a driver license which authorizes the operation of specified types of vehicles carrying specified loads.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="j:DriverLicenseBaseEndorsementType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DriverLicensePermitEndorsementType">
    <xs:annotation>
      <xs:documentation>A data type for an endorsement on a driver license permit which authorizes the operation of specified types of vehicles carrying specified loads.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="j:DriverLicenseBaseEndorsementType">
        <xs:sequence>
          <xs:element ref="j:DriverLicensePermitEndorsementCode" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:DriverLicensePermitEndorsementAugmentationPoint" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DriverLicensePermitRestrictionType">
    <xs:annotation>
      <xs:documentation>A data type for a restriction applicable to a driver permit.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="j:DrivingRestrictionType">
        <xs:sequence>
          <xs:element ref="j:DriverLicensePermitRestrictionCode" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:DriverLicensePermitRestrictionAugmentationPoint" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DriverLicensePermitType">
    <xs:annotation>
      <xs:documentation>A data type for a driver license permit issued to a driver granting conditional or limited driving privileges.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="j:DriverLicenseBaseType">
        <xs:sequence>
          <xs:element ref="j:DriverLicensePermitClassificationText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:DriverLicensePermitStatusAbstract" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:DriverLicensePermitRestriction" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:DriverLicensePermitEndorsement" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:DriverLicensePermitAugmentationPoint" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DriverLicenseRestrictionType">
    <xs:annotation>
      <xs:documentation>A data type for a restriction applicable to a driver license.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="j:DrivingRestrictionType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DriverLicenseType">
    <xs:annotation>
      <xs:documentation>A data type for a license issued to a person granting driving privileges.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="j:DriverLicenseBaseType">
        <xs:sequence>
          <xs:element ref="j:DriverLicenseEnhancedIndicator" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:DriverLicenseCommercialClassAbstract" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:DriverLicenseCommercialStatusAbstract" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:DriverLicenseNonCommercialClassText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:DriverLicenseNonCommercialStatusAbstract" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:DriverLicensePermit" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:DriverLicensePermitQuantity" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:DriverLicenseWithdrawal" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:DriverLicenseWithdrawalPendingIndicator" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:DriverLicenseCardIdentification" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:DriverLicenseRestriction" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:DriverLicenseEndorsement" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:DriverLicenseAugmentationPoint" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DriverLicenseWithdrawalType">
    <xs:annotation>
      <xs:documentation>A data type for a driver license withdrawal.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:ActivityType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DrivingIncidentType">
    <xs:annotation>
      <xs:documentation>A data type for details of an incident involving a vehicle.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:IncidentType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DrivingRestrictionType">
    <xs:annotation>
      <xs:documentation>A data type for a restriction applicable to a driver permit or license.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="IntoxicationType">
    <xs:annotation>
      <xs:documentation>A data type for a physiological state of a person due to the presence of drugs, alcohol, or other toxic substance.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PersonAugmentationType">
    <xs:annotation>
      <xs:documentation>A data type for additional information about a person.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:AugmentationType">
        <xs:sequence>
          <xs:element ref="j:CODISNumberText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:DNACollectedIndicator" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:DNACollectionStatusAbstract" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:DriverLicense" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:PersonAdultIndicator" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:PersonBirth" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:PersonBOPRegisterNumberIdentification" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:PersonClothing" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:PersonCollegeDegreeIndicator" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:PersonConcealedFirearmPermitIdentification" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:PersonDEAIdentification" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:PersonDentalRecordsAvailableIndicator" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:PersonDeporteeIndicator" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:PersonDevelopmentDisabilityIndicator" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:PersonDexterityText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:PersonDisabilityCategoryAbstract" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:PersonDrugAlcoholAbuseTreatmentIndicator" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:PersonDrugAlcoholHistoryText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:PersonDrugAlcoholOfChoiceText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:PersonDrugAlcoholPaymentMethodText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:PersonDrugAlcoholUseDateRange" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:PersonDrugAlcoholUseFrequencyText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:PersonDrugAlcoholUseIndicator" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:PersonForeignBornIndicator" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:PersonForeignNationalIndicator" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:PersonGamblingFrequencyText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:PersonGamblingTreatmentIndicator" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:PersonHasChildrenIndicator" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:PersonHasDisabilityIndicator" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:PersonHearingProblemIndicator" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:PersonIllegalAlienIndicator" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:PersonInterpolIdentification" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:PersonIsStudentIndicator" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:PersonLivingSituation" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:PersonMedicalInsuranceIndicator" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:PersonMedicalOperationText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:PersonMilitaryVeteranIndicator" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:PersonNumberOfChildrenQuantity" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:PersonParoleeIndicator" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:PersonPhysicalDisabilityAwardedDate" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:PersonPhysicalDisabilityIndicator" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:PersonPregnantIndicator" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:PersonProbationerIndicator" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:PersonProfessionalCertificateText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:PersonProtectionOrderConditionsText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:PersonProtectionOrderPetitionerIndicator" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:PersonProtectionOrderRespondentIndicator" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:PersonProtectionOrderRespondentInvolvedIndicator" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:PersonPsychologicalPsychiatricTreatmentIndicator" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:PersonRegisteredForSelectiveServiceIndicator" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:PersonRegistryOffenderClassificationAbstract" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:PersonSelfInflictedViolenceIndicator" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:PersonSignature" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:PersonSMTIndicator" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:PersonSuicideAttemptIndicator" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:PersonUSMSFugitiveIdentification" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:PhysicalFeatureAlphaNumericText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:PhysicalFeatureClassText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:PhysicalFeatureSizeDescriptionText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:PhysicalFeatureSubClassText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:EmployeeOccupationCategoryAbstract" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:PersonDentalCharacteristicAbstract" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:DriverLicensePermit" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:PersonAFISIdentification" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:PersonBodyPartsText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:PersonCharge" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:PersonConcealedFirearmPermitHolderIndicator" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:PersonDentalCharacteristicGeneralAbstract" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:PersonDentalCharacteristicRemovableAppliancesAbstract" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:PersonDentalPhotoModelAvailableIndicator" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:PersonDentalXRayAvailableIndicator" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:PersonSightedIndicator" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:PersonDrivingIncident" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:PersonDrivingInsuranceCoverageCategoryText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:PersonDrivingInsuranceStatusText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:PersonEmancipationDate" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:PersonFBIIdentification" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:PersonFirearmPermitHolderIndicator" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:PersonFootPrintAvailableIndicator" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:PersonGeneralLedgerIdentification" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:PersonIntoxication" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:PersonNCICIdentification" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:PersonPasswordText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:PersonPrimaryWorker" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:PersonReferralWorker" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:PersonRegisteredOffenderIndicator" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:PersonStateFingerprintIdentification" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:PersonTemporaryAssignmentUnit" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:PersonIssuedItemTitleAbstract" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:PersonVendorIdentification" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:PersonWorkPlaceAbstract" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:PersonCautionInformationAbstract" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:PersonBirthplaceAbstract" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:PersonFirearmSalesDisqualifiedAbstract" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:PersonHitResultsAbstract" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:PersonSpeechDescriptionAbstract" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:PersonCircumcisionCode" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:PersonDeath" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PersonDeathType">
    <xs:annotation>
      <xs:documentation>A data type for a set of details about a person's death.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:ActivityType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PersonLivingSituationType">
    <xs:annotation>
      <xs:documentation>A data type for a set of details specific to a subject's living situation.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PleaType">
    <xs:annotation>
      <xs:documentation>A data type for an answer which a defendant in an action at law makes to charges.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:ActivityType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SanctionType">
    <xs:annotation>
      <xs:documentation>A data type for a sanction or penalty ordered for a subject as a result of a disposition of a charge.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:ActivityType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SentenceType">
    <xs:annotation>
      <xs:documentation>A data type for a punishment resulting from conviction of charges in a court case.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:ActivityType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SeverityLevelType">
    <xs:annotation>
      <xs:documentation>A data type for a sentencing guideline severity level assigned to a charge by a judge or supervising agency.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SignatureType">
    <xs:annotation>
      <xs:documentation>A data type for a handwritten (and often stylized) depiction of someone's name, nickname, or even a simple X or other mark that a person writes on documents as a proof of identity and intent.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="StatuteType">
    <xs:annotation>
      <xs:documentation>A data type for a law, rule, or ordinance within a jurisdiction.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SubjectType">
    <xs:annotation>
      <xs:documentation>A data type for a person or organization that is involved or suspected of being involved in a violation of a criminal statute, ordinance or rule.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="VerdictType">
    <xs:annotation>
      <xs:documentation>A data type for a finding related to a charge.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:ActivityType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="VictimType">
    <xs:annotation>
      <xs:documentation>A data type for a person who suffers injury, loss, or death as a result of an incident.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BinaryCategoryCode" type="ndex:BinaryCategoryCodeType" substitutionGroup="nc:BinaryCategoryAbstract">
    <xs:annotation>
      <xs:documentation>A kind of binary object.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="BirthAttendant" type="nc:PersonType" nillable="true">
    <xs:annotation>
      <xs:documentation>A person or entity who attended the birth.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="BirthAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for type j:BirthType</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="BirthChildBirthOrderNumeric" type="nc:NumericType" nillable="true">
    <xs:annotation>
      <xs:documentation>A number indicating the order of birth specified on the birth certificate (e.g., first, second).</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="BirthRegistration" type="nc:DocumentType" nillable="true">
    <xs:annotation>
      <xs:documentation>A registration for a government certificate of live birth.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ChargeAccidentRelatedIndicator" type="niem-xs:boolean" nillable="true">
    <xs:annotation>
      <xs:documentation>True if a charge is related to a traffic accident or crash; false otherwise.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ChargeApplicabilityText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A degree of involvement a person is being charged with committing in an offense.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ChargeArrestReasonIndicator" type="niem-xs:boolean" nillable="true">
    <xs:annotation>
      <xs:documentation>True if a charge is the reason a person was arrested; false otherwise.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ChargeAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for ChargeType.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ChargeCategoryAbstract" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a kind of charge.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ChargeCategoryDescriptionText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A description of a crime category.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ChargeCountQuantity" type="niem-xs:nonNegativeInteger" nillable="true">
    <xs:annotation>
      <xs:documentation>A number of times a person is charged with committing the same crime.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ChargeDegreeText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A degree of a charge.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ChargeDescriptionText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A plain language description of a charge.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ChargeDisposition" type="j:ChargeDispositionType" nillable="true">
    <xs:annotation>
      <xs:documentation>A result or processing of a charge.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ChargeEmploymentRelatedIndicator" type="niem-xs:boolean" nillable="true">
    <xs:annotation>
      <xs:documentation>True if a charge is related to a person's employment; false otherwise.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ChargeEnhancingAllegationCharge" type="j:ChargeType" nillable="true">
    <xs:annotation>
      <xs:documentation>A formal allegation, contained in at least one charging instrument, that a defendant has violated a statute and/or ordinance in association with an incident.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ChargeEnhancingFactor" type="j:ChargeEnhancingFactorType" nillable="true">
    <xs:annotation>
      <xs:documentation>A factor or reason that makes a charge more serious.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ChargeEnhancingPriorConviction" type="j:ConvictionType" nillable="true">
    <xs:annotation>
      <xs:documentation>A prior conviction.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ChargeFelonyIndicator" type="niem-xs:boolean" nillable="true">
    <xs:annotation>
      <xs:documentation>True if a charge refers to a felony offense; false otherwise.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ChargeFilerEntity" type="nc:EntityType" nillable="true">
    <xs:annotation>
      <xs:documentation>An entity which filed a current charge.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ChargeFilingDate" type="nc:DateType" nillable="true">
    <xs:annotation>
      <xs:documentation>A date a charge was filed.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ChargeHighestIndicator" type="niem-xs:boolean" nillable="true">
    <xs:annotation>
      <xs:documentation>True if a charge is the most serious charge within a group of charges; false otherwise.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ChargeIdentification" type="nc:IdentificationType" nillable="true">
    <xs:annotation>
      <xs:documentation>A unique identification number assigned to a particular charge by an arresting agency, prosecuting attorney, or a court for case management purposes.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ChargeInstrument" type="nc:DocumentType" nillable="true">
    <xs:annotation>
      <xs:documentation>An official document filed to formally accuse a person of committing a specific offense.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ChargeLegalDescriptionText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A legal or formal description of a charge.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ChargeMACRDispositionText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A charge disposition as reported to the Monthly Arrest and Citation Register.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ChargeMACRIndicationLevelText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>An indication of the level or seriousness of the charge, as reported to the Monthly Arrest and Citation Register</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ChargeMACRJuvenileLevelText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>An indication of the level or seriousness of a juvenile charge, as reported to the Monthly Arrest and Citation Register</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ChargeMACRStatusText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A status of a charge, as reported to the Monthly Arrest and Citation Register</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ChargeModificationInstrument" type="nc:DocumentType" nillable="true">
    <xs:annotation>
      <xs:documentation>An official document filed to modify a charge against a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ChargeModifierEntity" type="nc:EntityType" nillable="true">
    <xs:annotation>
      <xs:documentation>An entity that modified the original charge.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ChargeNarrative" type="nc:DocumentType" nillable="true">
    <xs:annotation>
      <xs:documentation>A document associated with a charge.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ChargeNCICAbstract" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for an offense within the National Crime Information Center (NCIC) system.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ChargeOriginatorEntity" type="nc:EntityType" nillable="true">
    <xs:annotation>
      <xs:documentation>An entity that originally filed a charge or a related predecessor charge if the charge was changed later by prosecution or the court.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ChargePlea" type="j:PleaType" nillable="true">
    <xs:annotation>
      <xs:documentation>An answer which a defendant in an action at law makes in response to a charge.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ChargeQualifierText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>An additional piece of information that clarifies a charge.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ChargeRecommendedBailAmount" type="nc:AmountType" nillable="true">
    <xs:annotation>
      <xs:documentation>A bail amount on a schedule recommended according to the charge.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ChargeReducingFactorText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A factor which may make a charge less serious or limit the penalty.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ChargeSanction" type="j:SanctionType" nillable="true">
    <xs:annotation>
      <xs:documentation>A sanction given to a person convicted of a charge.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ChargeSentence" type="j:SentenceType" nillable="true">
    <xs:annotation>
      <xs:documentation>A sentence given to a person convicted of a charge.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ChargeSentenceRangeText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A standard sentence range a person charged with an offense potentially faces if convicted.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ChargeSequenceID" type="niem-xs:string" nillable="true">
    <xs:annotation>
      <xs:documentation>A sequentially assigned identifier for charge tracking purposes.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ChargeSeriousViolentIndicator" type="niem-xs:boolean" nillable="true">
    <xs:annotation>
      <xs:documentation>True if a charge filed refers to a serious or violent offense; false otherwise.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ChargeSeverityDescriptionText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A description of the level of the offense such as Grade A Misdemeanor, Gross Misdemeanor, Aggravated Misdemeanor.  States may transmit numeric grade levels (1, 2, 3) or define degrees alphanumerically (A, B, C.)</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ChargeSeverityLevel" type="j:SeverityLevelType" nillable="true">
    <xs:annotation>
      <xs:documentation>A severity level of a charge.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ChargeSeverityText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A level of severity of a charge.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ChargeSpecialAllegationText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A factor that has enhanced a charge, making it a more serious offense.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ChargeStatus" type="nc:StatusType" nillable="true">
    <xs:annotation>
      <xs:documentation>A state of a charge.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ChargeStatute" type="j:StatuteType" nillable="true">
    <xs:annotation>
      <xs:documentation>A unique identifier of a law, rule, or ordinance within a jurisdiction that a person is accused of violating.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ChargeSubject" type="j:SubjectType" nillable="true">
    <xs:annotation>
      <xs:documentation>A person accused of committing a specific offense.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ChargeText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A text of a charge.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ChargeTrackingIdentification" type="nc:IdentificationType" nillable="true">
    <xs:annotation>
      <xs:documentation>A unique identification number assigned to an entire set of charges for an arrest. Different numbers may appear in the set if cases have been consolidated.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ChargeUCRAbstract" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for an offense within the Uniform Crime Report (UCR) system.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ChargeUCRCrimeCategoryText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A Uniform Crime Report (UCR) kind or classification of a crime associated with a charge.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ChargeVerdict" type="j:VerdictType" nillable="true">
    <xs:annotation>
      <xs:documentation>A set of details describing if a person was found guilty or innocent of a charge.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ChargeVictim" type="j:VictimType" nillable="true">
    <xs:annotation>
      <xs:documentation>A person or entity who is the victim of an offense designated by the charge.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CODISNumberText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A number assigned by the Combined DNA Index System (CODIS) to a CODIS DNA profile which consists of a specimen identifier, an identifier for the laboratory responsible for the profile and the results of the DNA analysis (DNA profile).</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CrashDriverLicensePermitStatusCode" type="mmucc:DriverLicensePermitStatusCodeType" substitutionGroup="j:DriverLicensePermitStatusAbstract">
    <xs:annotation>
      <xs:documentation>A current status of an individuals driver license at the time of the crash.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DNACollectedIndicator" type="niem-xs:boolean" nillable="true">
    <xs:annotation>
      <xs:documentation>True if DNA has been collected; false otherwise.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DNACollectionStatusAbstract" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a status on the DNA collection from a subject.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DNACollectionStatusText" type="nc:TextType" substitutionGroup="j:DNACollectionStatusAbstract">
    <xs:annotation>
      <xs:documentation>A status on the DNA collection from a subject.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DriverLicense" type="j:DriverLicenseType" nillable="true">
    <xs:annotation>
      <xs:documentation>A license issued to a person granting driving privileges.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DriverLicenseAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for DriverLicenseType.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DriverLicenseCardIdentification" type="nc:IdentificationType" nillable="true">
    <xs:annotation>
      <xs:documentation>An identification that is affixed to the raw materials (card stock, laminate, etc.) used in producing driver licenses and ID cards. The numbers are issued by the material's manufacturer and provide a unique reference to a card within a jurisdiction.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DriverLicenseCommercialClassAbstract" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a kind of commercial vehicle that a licensed driver has been examined on and approved to operate.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DriverLicenseCommercialClassCode" type="aamva_d20:DriverLicenseClassCodeType" substitutionGroup="j:DriverLicenseCommercialClassAbstract">
    <xs:annotation>
      <xs:documentation>A kind of commercial vehicle that a licensed driver has been examined on and approved to operate.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DriverLicenseCommercialStatusAbstract" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a current status of an individual's Commercial privilege type.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DriverLicenseEndorsement" type="j:DriverLicenseEndorsementType" nillable="true">
    <xs:annotation>
      <xs:documentation>An endorsement on a driver license or driver license permit which authorizes the operation of specified types of vehicles carrying specified loads.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DriverLicenseEnhancedIndicator" type="niem-xs:boolean" nillable="true">
    <xs:annotation>
      <xs:documentation>True if a driver license is an Enhanced Driver License in accordance with US Department of Homeland Security criteria; false otherwise.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DriverLicenseNonCommercialClassText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A kind of non-commercial vehicle that a licensed driver has been examined on and approved to operate.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DriverLicenseNonCommercialStatusAbstract" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a current status of an individual's non-commercial privilege (base) type.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DriverLicensePermit" type="j:DriverLicensePermitType" nillable="true">
    <xs:annotation>
      <xs:documentation>A driver license permit issued to a driver granting conditional or limited driving privileges.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DriverLicensePermitAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for DriverLicensePermitType.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DriverLicensePermitClassificationText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A kind of commercial or non-commercial vehicle that a licensed driver has been examined on and approved to operate subject to a permit.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DriverLicensePermitEndorsement" type="j:DriverLicensePermitEndorsementType" nillable="true">
    <xs:annotation>
      <xs:documentation>An endorsement on a driver license which authorizes the operation of specified types of vehicles carrying specified loads.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DriverLicensePermitEndorsementAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for type j:DriverLicensePermitEndorsementType</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DriverLicensePermitEndorsementCode" type="aamva_d20:DriverLicensePermitEndorsementCodeType" nillable="true">
    <xs:annotation>
      <xs:documentation>An endorsement on a driver license permit which authorizes the operation of specified types of vehicles carrying specified loads.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DriverLicensePermitQuantity" type="niem-xs:nonNegativeInteger" nillable="true">
    <xs:annotation>
      <xs:documentation>A number of driver permits issued on a license.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DriverLicensePermitRestriction" type="j:DriverLicensePermitRestrictionType" nillable="true">
    <xs:annotation>
      <xs:documentation>A restriction on a driver license permit.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DriverLicensePermitRestrictionAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for type j:DriverLicensePermitRestrictionType</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DriverLicensePermitRestrictionCode" type="aamva_d20:DrivingPermitRestrictionCodeType" nillable="true">
    <xs:annotation>
      <xs:documentation>A category of a driving restriction on a permit.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DriverLicensePermitStatusAbstract" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a current status of an individuals driver license permit.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DriverLicensePermitStatusCode" type="aamva_d20:DrivingStatusCodeType" substitutionGroup="j:DriverLicensePermitStatusAbstract">
    <xs:annotation>
      <xs:documentation>A current status of an individuals driver license permit.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DriverLicensePermitStatusText" type="nc:TextType" substitutionGroup="j:DriverLicensePermitStatusAbstract">
    <xs:annotation>
      <xs:documentation>A current status of an individuals driver license permit.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DriverLicenseRestriction" type="j:DriverLicenseRestrictionType" nillable="true">
    <xs:annotation>
      <xs:documentation>A restriction on a driver license.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DriverLicenseWithdrawal" type="j:DriverLicenseWithdrawalType" nillable="true">
    <xs:annotation>
      <xs:documentation>A driver license withdrawal.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DriverLicenseWithdrawalPendingIndicator" type="niem-xs:boolean" nillable="true">
    <xs:annotation>
      <xs:documentation>True if a current licensing jurisdiction has an action pending that, if carried to completion, will cause a withdrawal of a specified driver privilege type; false otherwise.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonAdultIndicator" type="niem-xs:boolean" nillable="true">
    <xs:annotation>
      <xs:documentation>True if person is considered an adult, based on age/emancipation/etc.; false otherwise.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonAFISIdentification" type="nc:IdentificationType" nillable="true">
    <xs:annotation>
      <xs:documentation>An identification number issued by an agency's automatic fingerprint system based on submitted fingerprints other than FBI ID and SSN.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonBirth" type="j:BirthType" nillable="true">
    <xs:annotation>
      <xs:documentation>An event or details of a persons birth.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonBirthplaceAbstract" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a state or country of a person's birth.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonBodyPartsText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A status of the body parts of a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonBOPRegisterNumberIdentification" type="nc:IdentificationType" nillable="true">
    <xs:annotation>
      <xs:documentation>An identification used by the Bureau of Prisons (BOP).</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonCautionInformationAbstract" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a cautionary piece of information about a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonCautionInformationCode" type="ncic:CMCCodeType" substitutionGroup="j:PersonCautionInformationAbstract">
    <xs:annotation>
      <xs:documentation>A cautionary piece of information about a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonCharge" type="j:ChargeType" nillable="true">
    <xs:annotation>
      <xs:documentation>A sequence of charges against a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonCircumcisionCode" type="ncic:CRCCodeType" nillable="true">
    <xs:annotation>
      <xs:documentation>A circumcision status of a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonClothing" type="j:ClothingType" nillable="true">
    <xs:annotation>
      <xs:documentation>An article of clothing, dress, or attire for a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonCollegeDegreeIndicator" type="niem-xs:boolean" nillable="true">
    <xs:annotation>
      <xs:documentation>True if person has completed a college degree; false otherwise.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonConcealedFirearmPermitHolderIndicator" type="niem-xs:boolean" nillable="true">
    <xs:annotation>
      <xs:documentation>True if a person has a permit for a concealed firearm or gun; false otherwise.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonConcealedFirearmPermitIdentification" type="nc:IdentificationType" nillable="true">
    <xs:annotation>
      <xs:documentation>A permit identification that allows a person to carry a concealed weapon.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonDEAIdentification" type="nc:IdentificationType" nillable="true">
    <xs:annotation>
      <xs:documentation>An identification assigned to a person by the DEA.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonDeath" type="j:PersonDeathType" nillable="true">
    <xs:annotation>
      <xs:documentation>A set of details about a person's death.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonDentalCharacteristicGeneralAbstract" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a person's general dental characteristics.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonDentalCharacteristicRemovableAppliancesAbstract" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a person's removable dental appliance.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonDentalPhotoModelAvailableIndicator" type="niem-xs:boolean" nillable="true">
    <xs:annotation>
      <xs:documentation>True if dental x-rays are available with a record; false otherwise.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonDentalRecordsAvailableIndicator" type="niem-xs:boolean" nillable="true">
    <xs:annotation>
      <xs:documentation>True if dental records, including x-rays, photos, models or other records, are available; false otherwise.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonDentalXRayAvailableIndicator" type="niem-xs:boolean" nillable="true">
    <xs:annotation>
      <xs:documentation>True if dental photos or models are available with a record; false otherwise.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonDeporteeIndicator" type="niem-xs:boolean" nillable="true">
    <xs:annotation>
      <xs:documentation>True if a person is a deportee; false otherwise.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonDevelopmentDisabilityIndicator" type="niem-xs:boolean" nillable="true">
    <xs:annotation>
      <xs:documentation>True if the subject is classified having a developmental disability; false otherwise.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonDexterityText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A description of a dexterity of a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonDisabilityCategoryAbstract" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a kind of disability.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonDrivingIncident" type="j:DrivingIncidentType" nillable="true">
    <xs:annotation>
      <xs:documentation>A driving accident or crash in which a person is involved.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonDrivingInsuranceCoverageCategoryText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A kind of insurance coverage a driver of a vehicle has.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonDrivingInsuranceStatusText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A status of a person's driving insurance.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonDrugAlcoholAbuseTreatmentIndicator" type="niem-xs:boolean" nillable="true">
    <xs:annotation>
      <xs:documentation>True if a person has been evaluated or treated for a drug or alcohol abuse; false otherwise.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonDrugAlcoholHistoryText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A description of the drug and alcohol history of a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonDrugAlcoholOfChoiceText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A drug or alcohol type most often used.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonDrugAlcoholPaymentMethodText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A method used to pay for drugs or alcohol.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonDrugAlcoholUseDateRange" type="nc:DateRangeType" nillable="true">
    <xs:annotation>
      <xs:documentation>A period of time person used drugs or alcohol.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonDrugAlcoholUseFrequencyText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A description of the frequency of drug or alcohol use.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonDrugAlcoholUseIndicator" type="niem-xs:boolean" nillable="true">
    <xs:annotation>
      <xs:documentation>True if a person admits to having used or abused drugs or alcohol; false otherwise.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonEmancipationDate" type="nc:DateType" nillable="true">
    <xs:annotation>
      <xs:documentation>A date the subject will become an adult.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonFBIIdentification" type="nc:IdentificationType" nillable="true">
    <xs:annotation>
      <xs:documentation>A number issued by the FBI's Automated Fingerprint Identification System (AFIS) based on submitted fingerprints.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonFirearmPermitHolderIndicator" type="niem-xs:boolean" nillable="true">
    <xs:annotation>
      <xs:documentation>True if a person has a gun or firearm permit; false otherwise.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonFirearmSalesDisqualifiedAbstract" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a status of person's eligibility to purchase firearms.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonFootPrintAvailableIndicator" type="niem-xs:boolean" nillable="true">
    <xs:annotation>
      <xs:documentation>True if a footprint is available with a person record; false otherwise.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonForeignBornIndicator" type="niem-xs:boolean" nillable="true">
    <xs:annotation>
      <xs:documentation>True if a person was born outside the US; false otherwise.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonForeignNationalIndicator" type="niem-xs:boolean" nillable="true">
    <xs:annotation>
      <xs:documentation>True if a person is a citizen of a country other than the U.S.; false otherwise.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonGamblingFrequencyText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A description of the frequency of gambling activity.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonGamblingTreatmentIndicator" type="niem-xs:boolean" nillable="true">
    <xs:annotation>
      <xs:documentation>True if a person has been evaluated or treated for a gambling addiction; false otherwise.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonGeneralLedgerIdentification" type="nc:IdentificationType" nillable="true">
    <xs:annotation>
      <xs:documentation>A general-ledger account identification number associated with a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonHasChildrenIndicator" type="niem-xs:boolean" nillable="true">
    <xs:annotation>
      <xs:documentation>True if the subject has children with information viewable in this section; false otherwise.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonHasDisabilityIndicator" type="niem-xs:boolean" nillable="true">
    <xs:annotation>
      <xs:documentation>True if the subject has a disability; false otherwise.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonHearingProblemIndicator" type="niem-xs:boolean" nillable="true">
    <xs:annotation>
      <xs:documentation>True if a person has difficulty hearing; false otherwise.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonHitResultsAbstract" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a result of a NCIC Hit and the general disposition of the record.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonHospitalBirthIndicator" type="niem-xs:boolean" nillable="true">
    <xs:annotation>
      <xs:documentation>True if a person was born in a hospital; false otherwise.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonIllegalAlienIndicator" type="niem-xs:boolean" nillable="true">
    <xs:annotation>
      <xs:documentation>True if a person is an illegal alien; false otherwise.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonInterpolIdentification" type="nc:IdentificationType" nillable="true">
    <xs:annotation>
      <xs:documentation>An identification assigned to a person by Interpol.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonIntoxication" type="j:IntoxicationType" nillable="true">
    <xs:annotation>
      <xs:documentation>A physiological state of a person due to the presence of drugs, alcohol, or another toxic substance.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonIsStudentIndicator" type="niem-xs:boolean" nillable="true">
    <xs:annotation>
      <xs:documentation>True if the individual is enrolled as a student at an institution of formal learning; false otherwise.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonIssuedItemTitleAbstract" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a title which has been issued to a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonLivingSituation" type="j:PersonLivingSituationType" nillable="true">
    <xs:annotation>
      <xs:documentation>A set of details specific to a subject's living situation.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonMedicalInsuranceIndicator" type="niem-xs:boolean" nillable="true">
    <xs:annotation>
      <xs:documentation>True if a person has medical insurance; false otherwise.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonMedicalOperationText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A medical operation had by a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonMilitaryVeteranIndicator" type="niem-xs:boolean" nillable="true">
    <xs:annotation>
      <xs:documentation>True if the subject is a U.S. Military veteran; false otherwise.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonNCICIdentification" type="nc:IdentificationType" nillable="true">
    <xs:annotation>
      <xs:documentation>A file control number (FCN) identification that is often used to link a NCIC record to a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonNumberOfChildrenQuantity" type="niem-xs:nonNegativeInteger" nillable="true">
    <xs:annotation>
      <xs:documentation>A number of children a person is responsible for as legal guardian, such as biologic children, adopted children.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonParoleeIndicator" type="niem-xs:boolean" nillable="true">
    <xs:annotation>
      <xs:documentation>True if the person is known to be a parolee; false otherwise.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonPasswordText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A password provided/used by a victim of Identity Theft to verify their ID.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonPhysicalDisabilityAwardedDate" type="nc:DateType" nillable="true">
    <xs:annotation>
      <xs:documentation>A date a person was qualified as being disabled.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonPhysicalDisabilityIndicator" type="niem-xs:boolean" nillable="true">
    <xs:annotation>
      <xs:documentation>True if a person has been qualified (state or federal disability) as being disabled; false otherwise.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonPregnantIndicator" type="niem-xs:boolean" nillable="true">
    <xs:annotation>
      <xs:documentation>True if the woman is pregnant; false otherwise.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonPrimaryWorker" type="nc:PersonType" nillable="true">
    <xs:annotation>
      <xs:documentation>A primary social worker or other overseer assigned to a person that is not a caregiver.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonProbationerIndicator" type="niem-xs:boolean" nillable="true">
    <xs:annotation>
      <xs:documentation>True if the person is known to be on probation; false otherwise.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonProfessionalCertificateText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A designation earned by a person to assure that he/she is qualified to perform a job or task, includes trade certification and professional designations.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonProtectionOrderConditionsText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A description of the stipulations set forth in a protection order as they apply to the respondent.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonProtectionOrderPetitionerIndicator" type="niem-xs:boolean" nillable="true">
    <xs:annotation>
      <xs:documentation>True if the person is the plaintiff/petitioner/protected party of a protection order; false otherwise.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonProtectionOrderRespondentIndicator" type="niem-xs:boolean" nillable="true">
    <xs:annotation>
      <xs:documentation>True if the person is the subject/respondent of a protection order; false otherwise.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonProtectionOrderRespondentInvolvedIndicator" type="niem-xs:boolean" nillable="true">
    <xs:annotation>
      <xs:documentation>True if a person is the respondent/plaintiff/petitioner/protected party of a protection order; false otherwise.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonPsychologicalPsychiatricTreatmentIndicator" type="niem-xs:boolean" nillable="true">
    <xs:annotation>
      <xs:documentation>True if a person has been evaluated or treated for psychological/psychiatric concerns, e.g., anger management; behavioral concerns; cognitive concerns, including concerns related to suicide; false otherwise.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonReferralWorker" type="nc:PersonType" nillable="true">
    <xs:annotation>
      <xs:documentation>An Employee of State assigned to the particular juvenile.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonRegisteredForSelectiveServiceIndicator" type="niem-xs:boolean" nillable="true">
    <xs:annotation>
      <xs:documentation>True if the subject is registered for Selective Service; false otherwise.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonRegisteredOffenderIndicator" type="niem-xs:boolean" nillable="true">
    <xs:annotation>
      <xs:documentation>True if a person is required to register as an offender; false otherwise.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonRegistryOffenderClassificationAbstract" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a kind of classification for registered sex offenders.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonSelfInflictedViolenceIndicator" type="niem-xs:boolean" nillable="true">
    <xs:annotation>
      <xs:documentation>True if a person has physically abused his or her self; false otherwise.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonSightedIndicator" type="niem-xs:boolean" nillable="true">
    <xs:annotation>
      <xs:documentation>True if a person has been sighted; false otherwise.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonSignature" type="j:SignatureType" nillable="true">
    <xs:annotation>
      <xs:documentation>A person's signature.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonSMTIndicator" type="niem-xs:boolean" nillable="true">
    <xs:annotation>
      <xs:documentation>True if a person has distinguishing scars, marks, or tattoos; false otherwise.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonSpeechDescriptionAbstract" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a description of any impediments that can affect the speech of a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonStateFingerprintIdentification" type="nc:IdentificationType" nillable="true">
    <xs:annotation>
      <xs:documentation>An identifier assigned to a person by a state identification bureau, generally based on submission of the person's fingerprints to the state's Automated Fingerprint Identification System (AFIS).</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonSuicideAttemptIndicator" type="niem-xs:boolean" nillable="true">
    <xs:annotation>
      <xs:documentation>True if a person has attempted suicide; false otherwise.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonTemporaryAssignmentUnit" type="nc:OrganizationType" nillable="true">
    <xs:annotation>
      <xs:documentation>An organizational unit to which a person is assigned, specifically a temporary assignment.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonUSMSFugitiveIdentification" type="nc:IdentificationType" nillable="true">
    <xs:annotation>
      <xs:documentation>An identification assigned to a fugitive by the U.S. Marshal Service (USMS).</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonVendorIdentification" type="nc:IdentificationType" nillable="true">
    <xs:annotation>
      <xs:documentation>An assigned identification to identify a vendor.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PhysicalFeatureAlphaNumericText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A word(s), letter(s), and/or number(s) contained in a SMT.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PhysicalFeatureClassText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A feature class (general image content) of a SMT.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PhysicalFeatureSizeDescriptionText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A description of the size of a physical feature if not measured in height and width, such as a numeric size for a prosthetic or a tattoo covering a specific area.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PhysicalFeatureSubClassText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>An indication of the general image content of an SMT.</xs:documentation>
    </xs:annotation>
  </xs:element>
</xs:schema>
